# Configuration file for coverage.py

[run]

branch = True
source = wavemap

[report]

fail_under = 85
skip_covered = True

exclude_lines =
    pragma: no cover
    if False:
    if __name__ == .__main__.:
    raise NotImplementedError
